
.nav{
margin-left: 15%;
gap: 15%;
}

#pic{
  background-color: turquoise; 
  color: aliceblue; 
  padding: 15px 40px;
  font-size: medium;
}
#achieve{
    color: aliceblue;
    background-color: blue;
    padding: 15px 40px;
    font-size: medium;

}

#todo{
color: aliceblue;
background-color: blue;
padding: 15px 40px;
    font-size: medium;

}

.landing{
    text-align: center;
    padding-top: 10%;
    margin-right: 25%;
}
#explore{
    color: rgb(240, 13, 127);
    font-size: x-large;
    margin-left: 30%;
    
}
#welcome{
    color: rgb(47, 130, 232);
    font-size: xx-large;
    margin-left: 30%;
    
}
#click{
    border-radius: 12px;
    background-color: cyan;
    margin-left: 48%;
    padding: 12px 20px; 
    text-decoration: none;  
}
#logo{
width: 5%;
}
#lady{
    flex-direction: column;
    width: 350px;
    height: 350px;
   }


 
 
@media screen and (min-width: 320px) {
.topnav{
flex-direction: column;    
}

#ladies{
 flex-direction: column;
 width: 100px;
 height: 100px;
}
}

@media screen and (max-width:720px) {
 #ladies{
    width: 100px;
 } 
 .topnav{
    flex-direction: column;    
    }  
}
