.body{
    background-color: slategray;
 align-items: center;
 margin-top: 100px;
}
.navbar{
    text-align: center;
    margin-right: 10%;
    padding-left: 20%;
   justify-content: space-between;
}
#wish{
    margin-left: 80%;
}

#pro{
  background-color: turquoise; 
  color: aliceblue; 
}
#achieve{
    color: aliceblue;
    background-color: blue;
}
.goals{
    color:aliceblue;
    background-color: blue;
}
#btn{
    font-size: 2rem;
    box-shadow: 0px 0px 20px aqua;
    border-radius: 12px;
    background-color: aqua;
    padding: 10px 20px;
    width: 10%;
    text-align: center;
    color: black;
   margin-left: 40%;
   text-decoration: none;
   margin-top: -25%;
   
}
#welcome{
    font-size: xx-large;
}
 
.home{
    margin-left: 35%;
    font-size: xx-large; 
}
#mentee{
width: 460px;
margin-top: -20%;
}
#title{
    color: hotpink;
}
#logo{
 margin-bottom: 10%;
 width: 100px;
 height: 100px;

}@media screen and (min-width:375px) and (max-width: 768px){
    .navbar{
       flex-direction: column;
    } 
    .details{
       flex-direction: column;
   
    }
   
   }
   
   
   
   @media screen and (min-width:380px) and (max-width: 968px) {
       .navbar{
   flex-direction: column;
       }
   }
   


  
    