
.navbar6{
    display: flex;
    margin-right: 25%;
    gap: 10%;
}
#pic{
  background-color: turquoise; 
  color: aliceblue;
  padding: 15px 40px;
    font-size: medium;
 
}
#achieve{
    color: aliceblue;
    background-color: blue;
    padding: 15px 40px;
    font-size: medium;

}
#goals{
    color:beige;
    background-color:teal;
    padding: 15px 40px;
    font-size: medium;

}
#todo{
color: aliceblue;
background-color: blue;
padding: 15px 40px;
    font-size: medium;

}
.inputs{
padding-top: 10%;
width: 20%;
padding-right:5px;
margin-left: 35%;
    
   
}  
#task1{
    border-radius: 12px;
    padding: 10px 30px;
    width: 120%;
}
#task2{
    border-radius: 12px;
    padding: 10px 30px;
    width: 120%;
}
#task3{
    border-radius: 12px;
    padding: 10px 30px;
    width: 120%;
}
#task4{
    border-radius: 12px;
    padding: 10px 30px;
    width: 120%;
    
}
#click{
    border-radius: 12px;
    background-color: cyan;
    margin-left: 45%;
    padding: 12px 20px; 
    text-decoration: none;  
}
#myInput{
 border-radius: 12px;
 padding: 10px 30px;
 width: 120%;   
}
#addBtn {
    border-radius: 12px;
    padding: 10px 30px;
    width: 120%;  
}
#logo{
width: 100px;    
}

    
        
   
  
   
    
   
   